body {
  background-color: whitesmoke;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  margin: auto;
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  width: 900px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 40px;
}
.signUpForm {
  display: flex;
  flex-direction: row-reverse;
}
.formStyle h2 {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0px 40px 50px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 500;
}
input + label {
  font-weight: bold;
  font-size: 14px;
  display: inline-flex;
  margin-right: 100px;
  margin-left: 5px;
}
.formControl {
  margin-bottom: 20px;
  width: 340px;
  padding: 0 20px 0 0;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: 30px;
  padding: 5px 12px;
  outline: none;
  color: #898889;
  border: 1px solid #ccc;
  border-radius: 10px;
}
input[type='password'] {
  border: none;
  width: 100%;
}
button {
  width: 340px;
  height: 40px;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #3a5b22;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
button:hover {
  opacity: 0.5;
}
input::placeholder {
  font-size: 14px;
  color: #ccc;
}
.error {
  color: red;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 12px;
  width: 350px;
}
.logo img {
  width: 400px;
  height: 630px;

  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.password-input-container {
  width: 100%;
  padding: 0 25px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #898889;
  border: 1px solid #ccc;
}
.login,
.signup {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
}
.login span,
.signup span {
  margin-left: 4px;
  color: blue;
}

/* login */

.title {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 70px;
}
.title h2 {
  margin-bottom: 20px;
}
.title span {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .App {
    width: 400px;
    height: 650px;
    margin-top: 0px;
  }
  .signUpForm {
    flex-direction: column;
  }
  .logo img {
    display: none;
  }
  .formStyle h2 {
    margin: 30px 0px 40px 10px;
  }
  .title span {
    margin-left: 10px;
  }
}
